@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To-do</h1>
    <p class="lead">Manage your personal to-do list</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Lists</h3>
        <p>
            Create to-do lists.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Click here", "Index", "lists")></a></p>
        
    </div>
    <div class="col-md-4">
        <h3>Items</h3>
        <p>
            Edit items in to-do lists.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Click here", "Index", "items")></a></p>

    </div>
</div>